[Service]
Environment="ETCD_IMAGE=docker://${etcd_image}" 
Environment="RKT_RUN_ARGS=--uuid-file-save=/var/lib/coreos/etcd-member-wrapper.uuid --insecure-options=image" 
ExecStart=
ExecStart=/usr/lib/coreos/etcd-wrapper gateway start \
    --listen-addr=127.0.0.1:2379 \
    --endpoints=${endpoints}
